footer.footer
	.container
		.content.has-text-centered
			center
				p 
					span#copy
						strong ©
					span
						strong Leo Gold 2018
				p
					a.icon(href = "https://github.com/leopiguy")
						i.fa.fa-github &nbsp;&nbsp; 
					a.icon(href = "mailto:leopiguy@gmail.com")
						i.fa.fa-envelope-o
