extends _templates/main.jade
block head
	title Leo J. Gold
	script(src="resources/js/secretroom.js")
block body
	div.container
		div#main
			h1.has-text-centered#comingsoon HELLO! My website is a WIP - Coming Soon!!
			br
			br
			h1.has-text-centered HYPE FOR FRC 2019 DEEP SPACE!
			img(style="display: block;margin-left: auto;margin-right: auto;",src="https://www.firstinspires.org/sites/default/files/uploads/rightimage/FIRST-DestDeepSpace-logo_full-color-sponsor-350.png")
