extends _templates/main.jade
block head
	title Leo J. Gold
	script(src="resources/js/secretroom.js")
block body
	div.container
		div#main
			h1.has-text-centered#comingsoon HELLO! My website is a WIP - Coming Soon!