extends _templates/main.jade
block head
	title LeoPiGuy is you friend. :P
	script(src="resources/js/secretroom.js")
block body
	div.container
		div#main
			h1.has-text-centered#comingsoon HELLO PEOPLE! ME WEBSITE BE COMIN SOOOOOOOOON!
			br
			hr
			br
			h1.has-text-centered Time Until My Life Changes:
			div.has-text-centered
				iframe(src="//fncd.net/embed?id=WSHUw16" frameborder="0" scrolling="no" allowfullscreen).has-text-centered