doctype html
html
	head
		title Victrix Mortalis
	body
		h1 Victrix Mortalis
		p Victrix Mortalis is a elite group of pure sword fighter that accepts up to 200 members

		mixin lol
			tr
				td lol
				td He
				td farted
		table
			+lol
			+lol
			+lol
			+lol
			+lol

		a(href="http://www.roblox.com") Roblox