doctype html
html(lang = "en")
	head 
		meta(charset = "UTF-8")
		meta(http-equiv = "X-UA-Compatible", content = "IE=edge")
		meta(name = "viewport", content = "width=device-width,initial-scale=1")
		meta(name = "description" content = "The story of my life.")
		meta(name = "author" content = "Leo Gold")
		meta(name = "robots" content = "all")
		link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
		//-link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.min.css" integrity="sha256-5MiG346KC5bVXrbDQQU0cjus8r2Yxh07eorYOPNUcmw=" crossorigin="anonymous")
		link(href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/solar/bootstrap.min.css", rel="stylesheet", integrity="sha384-05+VJtAaH13TDtIHikH0vJFqCdHB4VPg9dYfcALIbTdOSDwSL299oJ173uQBedD5", crossorigin="anonymous")
		//-style.
			div[class="row"] {
			    outline: 1px dotted rgba(0, 0, 0, 1);
			}

			div[class^="col-"] {
			    background-color: rgba(255, 0, 0, 0.2);
			    /*outline: 1px dotted rgba(0, 0, 0, 0.5);*/
			}
			div[class="container-fluid"] {
				background-color: rgba(0, 255, 0, 0.2);
			}
		title &iexcl;Buen provecho!
	body
		br
		.container
			nav.navbar.navbar-expand-lg.navbar-light.bg-light.rounded
				.container-fluid.text-center
					.col.text-left
						h1.navbar-brand &iexcl;Buen provecho!
					.col
						h1 El Menu
					.col.text-right
						h1.navbar-brand Por Leo Gold | 4/2/2018
		br
		br
		.container
			br
			br
			.desayuno
				.jumbotron.bg-light
						.display-3 Desayuno
						br
						.row
							.col-lg-3
								.card.w-75
									img.card-img(src="./imgs/pancakes.jpg" 	alt="Pancakes with milk." style="width:11.1em;")
									.card-footer.bg-dark
										h6.card-text.text-center  	&euro;3 para 3, &euro;5 para 6
							.col
								.card
									.card-body
										h2.text-primary.card-title Panqueques Con Chispas De Chocolate
										p.card-text.lead Los panqueques están hechos con harina, leche, huevos, mantequilla, sal, y  chispas de chocolate. 
										p.card-text.lead Los panqueques se sirven con leche cremosa. 
			.desayuno
				.jumbotron.bg-light
						.display-3 Almuerzo
						br
						.row
							.col-lg-4
								.card
									img.card-img(src="./imgs/quesadillas.jpg" 	alt="Quesadillas." style="width:20.4em;")
									.card-footer.bg-dark
										h6.card-text.text-center  	&euro;10
							.col
								.card
									.card-body
										h2.text-primary.card-title Quesadillas Con Salsa y Guacamole
										p.card-text.lead Las quesadillas están hechos con un tortilla y queso. La salsa está hecha con tomates, cebollas, coriander, jalapeños, y sal. El guacamole se hace con avacados, tomates, y cebollas. 
										p.card-text.lead Los panqueques se sirven con limonada fría. 
			.cena
				.jumbotron.bg-light
						.display-3 Cena
						br
						h2 El aperitivo
						.row
							.col-lg-4
								.card
									img.card-img(src="./imgs/soup.jpg" 	alt="Matzo Ball Soup." style="width:20.4em;")
									.card-footer.bg-dark
										h6.card-text.text-center  	&euro;3
							.col
								.card
									.card-body
										h2.text-primary.card-title Sopa de Pollo Con Bolas de Matzo
										p.card-text.lead Los Bolas de Matzo están hecha con matzo meal, huevos, y sal. La sopa está hecho con agua, pollo, zanahorias, apio y sal.
						br
						h2 El Plato Principal
						.row
							.col-lg-4
								.card
									img.card-img(src="./imgs/challah.jpg" 	alt="Challah French Toast." style="width:20.4em;")
									.card-footer.bg-dark
										h6.card-text.text-center  	&euro;15
							.col
								.card
									.card-body
										h2.text-primary.card-title Tostadas Francesas de Challah
										p.card-text.lead Las Tostadas Francesas de Challah están hecha con jalá pan, huevos, leche, y vainilla.
										p.card-text.lead Las Tostadas Francesas de Challah se sirven con leche chocolatada. 
						br
						h2 El Postre
						.row
							.col-lg-4
								.card
									img.card-img(src="./imgs/churros.jpg" 	alt="Churros." style="width:20.4em;")
									.card-footer.bg-dark
										h6.card-text.text-center  	&euro;5
							.col
								.card
									.card-body
										h2.text-primary.card-title Los Churros
										p.card-text.lead Los Churros están hecho con agua, harina, huevos, mantequilla, sal, azúcar, y canela. 
		include ../../../_templates/footer.jade
